#share{:style => 'margin-top: 20px;'}
    #facebook_share{:style => 'margin: 10px;'}
        %a{:href => "http://www.facebook.com/sharer.php", :name => "fb_share", :type => "button"} Share
    #twitter_share{:style => 'margin: 10px;'}
        %script{:src => "http://static.ak.fbcdn.net/connect.php/js/FB.Share", :type => "text/javascript"}
        %a.twitter-share-button{"data-count" => "none", "data-text" => "Check out my Fotolog photos on Fotologffffffu", :href => "http://twitter.com/share"} Tweet
        %script{:src => "http://platform.twitter.com/widgets.js", :type => "text/javascript"}
