- @title = "fotologffffffu -- #{params[:name]}"

%a{:href => "http://www.facebook.com/sharer.php", :name => "fb_share", :type => "button"} Share
%br
%script{:src => "http://static.ak.fbcdn.net/connect.php/js/FB.Share", :type => "text/javascript"}
%a.twitter-share-button{"data-count" => "none", "data-text" => "Check out my Fotolog photos on Fotologffffffu", :href => "http://twitter.com/share"} Tweet
%script{:src => "http://platform.twitter.com/widgets.js", :type => "text/javascript"}
%br
%script{:src => "http://www.google.com/jsapi", :type => "text/javascript"}

%h1 fotologffffffu!

%form(action = '/')
    %p
        fotolog.com/
        %input{:name => 'name', :value => @name}
        %input{:id => 'go', :type => 'submit', :value => 'Give it to me baby!'}

- unless @photos.nil?
    %div{:id => 'photos'}
        - @photos.each do |photo|
            %img(src = photo)

