- @title = 'fotologffffffu'
%a{:href => "http://www.facebook.com/sharer.php", :name => "fb_share", :type => "button"} Share
%script{:src => "http://static.ak.fbcdn.net/connect.php/js/FB.Share", :type => "text/javascript"}
%a.twitter-share-button{"data-count" => "none", "data-via" => "thmarano", :href => "http://twitter.com/share"} Tweet
%script{:src => "http://platform.twitter.com/widgets.js", :type => "text/javascript"}
%h1 fotologffffffu! 



 
- @photos.each do |each|
    %img(src = each) 
 
