- @title = "fotologffffffu -- #{params[:name]}"

%h1 fotologffffffu!

#search
    %form{:action => '/', :style => 'float: none;'}
        %label{:for => 'name', :id => 'search_label'}
            = 'fotolog.com/'
        %input{:name => 'name', :value => @name, :id => 'search_box'}
        %input{:id => 'search_button', :type => 'submit', :value => 'Give it to me baby!'}

- unless @recent_users.nil?
    %recent_users
        %ul
            - @recent_users.each do |each|
                %li{:id => "recent_user_#{each}"}
                    = each

- unless @photos.nil?
    %div{:id => 'photos'}
        - @photos.each do |photo|
            %img(src = photo)

#share{:style => 'clear: both;'}
    %a{:href => "http://www.facebook.com/sharer.php", :name => "fb_share", :type => "button"} Share
    
    %script{:src => "http://static.ak.fbcdn.net/connect.php/js/FB.Share", :type => "text/javascript"}
    %a.twitter-share-button{"data-count" => "none", "data-text" => "Check out my Fotolog photos on Fotologffffffu", :href => "http://twitter.com/share"} Tweet
    %script{:src => "http://platform.twitter.com/widgets.js", :type => "text/javascript"}

%script{:src => "http://www.google.com/jsapi", :type => "text/javascript"}

