- @title = "fotologffffffu -- #{params[:name]}"

%object#o{:classid => "clsid:D27CDB6E-AE6D-11cf-96B8-444553540000", :height => "450", :width => "600"}
    %param{:name => "movie", :value => "http://apps.cooliris.com/embed/cooliris.swf"}/
    %param{:name => "allowFullScreen", :value => "true"}/
    %param{:name => "allowScriptAccess", :value => "always"}/
    %param{:name => "flashvars", :value => "feed=http://fotologffffffu.heroku.com/#{@name}/feed"}/
    %embed{:allowFullScreen => "true", :allowScriptAccess => "always", :flashvars => "feed=http://fotologffffffu.heroku.com/#{@name}/feed", :height => "450", :src => "http://apps.cooliris.com/embed/cooliris.swf", :type => "application/x-shockwave-flash", :width => "600"}
